################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CarTech/.vs/CarTech
/CarTech/CarTech.Domain/bin/Debug/netcoreapp3.1
/CarTech/CarTech.Domain/obj
/CarTech/CarTech.Registration.Api/bin/Debug/netcoreapp3.1
/CarTech/CarTech.Registration.Api/obj
/CarTech/CarTech.Registration.Data/bin/Debug/netcoreapp3.1
/CarTech/CarTech.Registration.Data/Migrations
/CarTech/CarTech.Registration.Data/obj
/CarTech/CarTech.App/bin/Debug/netcoreapp3.1
/CarTech/CarTech.App/obj
/CarTech/CarTech.Data/bin/Debug/netcoreapp3.1
/CarTech/CarTech.Data/obj
/CarTech/CarTech.Infra/bin/Debug/netcoreapp3.1
/CarTech/CarTech.Infra/obj
/CarTech/CarTech.Registration.API.Test/bin/Debug/netcoreapp3.1
/CarTech/CarTech.Registration.API.Test/obj
/CarTech/CarTech.VewModel/bin/Debug/netcoreapp3.1
/CarTech/CarTech.VewModel/obj
/CarTech/CarTech.App/bin/Release/netcoreapp3.1
/CarTech/CarTech.App/Properties/PublishProfiles
/CarTech/CarTech.Data/bin/Release/netcoreapp3.1
/CarTech/CarTech.Domain/bin/Release/netcoreapp3.1
/CarTech/CarTech.Infra/bin/Release/netcoreapp3.1
/CarTech/CarTech.Registration.Api/bin/Release/netcoreapp3.1
/CarTech/CarTech.Registration.Api/Properties/PublishProfiles
/CarTech/CarTech.Registration.API.Test/bin/Release/netcoreapp3.1
/CarTech/CarTech.VewModel/bin/Release/netcoreapp3.1
