@model CategoriaViewModel

<form id="frmCadCategoria" style="text-align: left !important;">
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Descricao)
        @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control", placeholder = "Informe a descrição da categoria", required = "required" })
    </div>
</form>