@model List<CategoriaViewModel>
@{
    ViewData["Title"] = "Categorias";
}

<!-- Start content -->
<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-12">
                    <h4 class="page-title">@ViewData["Title"]</h4>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Descrição</th>
                                    <th></th>
                                </tr>
                            </thead>
                            @*<tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Descricao</td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>*@
                        </table>
                        @*<a asp-action="create" asp-controller="categoria" class="float">
                                <i class="fa fa-plus my-float"></i>
                            </a>*@
                        <a class="float" data-toggle="modal" data-target="#mdlCadCategoria">
                            <i class="fa fa-plus my-float"></i>
                        </a>
                        @*<button type="button" class="float" data-toggle="modal" data-target="#mdlCadCategoria"><i class="fa fa-plus my-float"></i></button>*@
                    </div>
                </div>
            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- container-fluid -->

</div>
<!-- content -->

@await Html.PartialAsync("Create", new CategoriaViewModel())


