<div id="mdlCadCategoria" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">Categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div id="contentBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="submit();">Salvar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">

    function submit() {
        $.ajax({
            url: '/Categoria/Create',
            type: 'post',
            dataType: 'json',
            async: true,
            data: $('#frmCadCategoria').serialize(),
            success: function (data) {
                if (data.success) {
                    $('#mdlCadCategoria').modal('hide');
                    $('#frmCadCategoria')[0].reset();

                    Swal.fire({
                        type: 'success',
                        title: data.message
                    }).then(function (result) {
                        if (result.value) {
                            location.reload();
                        }
                    });
                }
                else {
                    showError();
                }
            },
            error: function (data) {
                showError();
            }
        });
    }

    function showError() {
        Swal.fire({
            type: 'error',
            title: 'Erro ao realizar cadastro!'
        });
    }
</script>